<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - clothing_store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/clothing_store.styles.css" asp-append-version="true" /> 
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-left">
                <li><a asp-controller="Home"asp-action="Index">SKLEP</a></li>
                <li><a href="#">BUTY</a></li>
                <li><a href="#">PROMOCJE</a></li>
            </ul>

            <div class="logo">
                <a asp-controller="Home" asp-action="Index"><img src="~/Images/logo.png"></a>
            </div>

            <ul class="nav-right">
                <li><a href="#">PLN</a></li>
                <li><a href="#">SZUKAJ</a></li
                <li><a asp-controller="Account" asp-action="Details">KONTO</a></li>
                <li><a href="#">KOSZYK 0</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
