@model List<clothing_store.Models.Product>

<div class="product-container">
    @foreach (var product in Model)
    {

            <div class="product-card">
                <img src="hq720.jpeg" alt="Product Image" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">@product.Name</h3>
                    <p class="product-price">@product.Price</p>
                </div>
            </div>

    }
</div>
