@model List<clothing_store.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}
    <div class="baner">
        <img src="~/Images/edzio.jpg" alt="Zdjęcie banera">
        <h1>PROMOCJE</h1>
    @{
        var successMessage = TempData["SuccessMessage"] as string;
    }

    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div id="notification" class="toast-notification">
            @successMessage
        </div>
    }

    </div>
    <form method="get" asp-controller="Home" asp-action="Index" class="search-form">
        <div class="input-group">
            <input type="text" name="searchQuery" class="form-control search-input" placeholder="Search for products..." value="@ViewData["SearchQuery"]" />
            <button class="btn btn-dark search-btn" type="submit">Search</button>
        </div>
    </form>

<div id="product-section">
    @await Html.PartialAsync("_ProductListPartial", Model)
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const notification = document.getElementById("notification");
        if (notification) {
            setTimeout(() => {
                notification.remove();
            }, 3000);
        }
    });
</script>
