@model List<clothing_store.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}
<header class="banner">
    <a class="banner-content">
        <h2>Przeglądaj ze zniżką -40% kod:"BLACK"</h2>
    </a>

</header>
<div id="product-section">
    @await Html.PartialAsync("_ProductListPartial", Model)
</div>