<form asp-action="ResetPassword" method="post">
    <input type="hidden" name="Token" value="@Model.Token" />
    <input type="hidden" name="Email" value="@Model.Email" />

    <div>
        <label for="NewPassword">New Password</label>
        <input type="password" id="NewPassword" name="NewPassword" />
    </div>
    <div>
        <label for="ConfirmPassword">New Password</label>
        <input type="password" id="ConfirmPassword" name="ConfirmPassword" />
    </div>

    <button type="submit">Reset Password</button>
</form>
